@model FoodBlog.Models.Location

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Location</h4>
    <hr />
    
    <ul class="detail-list">
        <li class="detail-top"><span class="detail-top-value">@Html.DisplayNameFor(model => model.Name):</span>  @Html.DisplayFor(model => model.Name) |</li>
        <li class="detail-top"><span class="detail-top-value">@Html.DisplayNameFor(model => model.Price):</span> @Html.DisplayFor(model => model.Price) |</li>
        <li class="detail-top"><span class="detail-top-value">@Html.DisplayNameFor(model => model.Address):</span> @Html.DisplayFor(model => model.Address) |</li>
    </ul>
   
    @foreach (var experience in Model.Experiences)
    {
        <li>
            @experience.Title
        </li>

    }
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.LocationId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
